@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  @apply h-full flex flex-col;
}

#navbar {
  @apply sticky top-0 text-center pb-2 flex flex-row gap-10 justify-center;
  @apply bg-blue-500;
}

#navbar a {
  @apply font-mono;
}

#navbar a:hover {
  cursor: pointer;
}

#navbar a.active {
  @apply text-white;
}

#active-view {
  @apply w-full h-full;
}

html {
  @apply h-full;
}

body {
  @apply h-full;
}

main {
  @apply h-full;
}

#map,
#leaflet {
  height: 100%;
  width: 100%;
}

.pin-label-text {
  color: #451a03;
  /* amber 950 */
}

.leaflet-popup-content-wrapper {
  background: #fff7ed;
  /* orange 50 */
}

#post-button-1 {
  margin-top: 10px;
  cursor: pointer;
}

.button-action {
  background: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: white;
  line-height: 26px;
  padding-top: 6px;
  margin-bottom: 40px;
}
